body {
  background-color: white;
}
#dottedmap {
  position: absolute;
  z-index: 1;
  width: 226px;
  height: 248px;
  background: url(spritesheet.png) 0 0;
}
#emptymap {
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  background: url(spritesheet.png) 452.5px 248px;
}
#pacman {
  position: absolute;
  z-index: 3;
  top: 180px;
  left: 102px;
  width: 14px;
  height: 15px;
  background: url(spritesheet.png) -454.5px 0.5px ;
}
#redghost {
  position: absolute;
  z-index: 3;
  top: 84px;
  left: 102px;
  width: 15px;
  height: 15.5px;
  background: url(spritesheet.png) -457px -64px ;
}
#pinkghost {
  position: absolute;
  z-index: 3;
  top: 105px;
  left: 104px;
  width: 15px;
  height: 15.5px;
  background: url(spritesheet.png) -520px -80px ;
}
#tealghost {
  position: absolute;
  z-index: 3;
  top: 108px;
  left: 88.5px;
  width: 15px;
  height: 15.5px;
  background: url(spritesheet.png) -552px -95.5px ;
}
#orangeghost {
  position: absolute;
  z-index: 3;
  top: 108px;
  left: 119.75px;
  width: 15px;
  height: 15.5px;
  background: url(spritesheet.png) -552px -112px ;
}